<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://ns.adobe.com/air/application/50.0">
    <id>com.exemple.monApplication</id>
    <versionNumber>1.0.0</versionNumber>
    <filename>ForgottenKingdom</filename>
    <description>Mon application Adobe AIR</description>
    <name>ForgottenKingdom</name>
    <initialWindow>
        <content>WebMain.swf</content>
        <visible>true</visible>
        <fullScreen>false</fullScreen>
        <aspectRatio>portrait</aspectRatio>
        <autoOrients>false</autoOrients>
    </initialWindow>
    <icon>
        <!-- Plus d'icônes pour différentes tailles et plateformes -->
    </icon>
    <!-- Permissions et fonctionnalités spécifiques à la plateforme -->
</application>
